.about {
  padding: 32px var(--margin-container);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 62px;
  row-gap: 32px;
}
.about h2 {
  margin-bottom: 20px;
}
.about img {
  width: 100%;
}
@media (max-width: 768px) {
  .about {
    text-align: center;
    grid-auto-flow: row;
  }
}
